---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Menu from '../components/Menu.astro';
import Divider from '../components/Divider.astro';
import Gallery from '../components/Gallery.astro';
import Reviews from '../components/Reviews.astro';
import Story from '../components/Story.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Menu />
    <Divider />
    <Gallery />
    <Reviews />
    <Story />
    <Contact />
  </main>
  <Footer />
</Layout>
